.btn {
    margin: 50px;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
    background-color: blue;
    border: none;
    font-size: medium;
}

.btn:hover {
    background-color: lightskyblue;
}

.paragraph {
    margin: 0 50px;
    font-size: medium;
}

.timer {
    font-size: 20px;
    margin: 50px;
}